<!DOCTYPE html>
<html>
<head>
<% include ../views/partials/contents/head.ejs %>
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<h1 class="text-center">
				About
			</h1>
		</div>
	</div>

	<% include ../views/partials/contents/body.ejs %>
</body>

<% include ../views/partials/contents/footer.ejs %>
</html>