<!DOCTYPE html>
<html>
<head>
<% include ../views/partials/contents/head.ejs %>
</head>
<body>
	<% include ../views/partials/contents/projects.ejs %>
	<% include ../views/partials/contents/body.ejs %>

	<div>
		<img class="cu-the-jumpingman" src="images/Cu.gif" alt="">
	</div>
	<div>
		<div class="icons">
			<a href="https://github.com/sehmim"><img class="icons-under" src="/images/github.png" alt=""></a>
			<a href="https://www.facebook.com/0brownass"><img class="icons-under" src="/images/facebook-logo.png" alt=""></a>
			<a href="https://www.linkedin.com/in/sehmim-haque-7a7a29160/"><img class="icons-under" src="/images/linkedin-icon.png" alt=""></a>
			<a href="https://twitter.com/sehmim"><img class="icons-under" src="/images/twitter-logo.png" alt=""></a>
			<a href="https://www.instagram.com/sehmim"><img class="icons-under" src="/images/instagram.jpg" alt=""></a>
		</div>
	</div>
</body>

<% include ../views/partials/contents/footer.ejs %>
<% include ../views/partials/contents/audio.ejs %>
</html>