<!DOCTYPE html>
<html>
<head>
<% include ../views/partials/contents/head.ejs %>
</head>
<body>
	<% include ../views/partials/contents/projects.ejs %>
	<% include ../views/partials/contents/body.ejs %>
</body>

<% include ../views/partials/contents/footer.ejs %>
<% include ../views/partials/contents/audio.ejs %>
</html>