<div class="container">
    <div class="my-wrapper text-center">
        <div class="jumbotron jumbotron-fluid">
            <h1>  ABOUT ME </h1>
            <div class="container">
                <span>
                    Hello, My name is Sehmim Al, 19,
                    currently stuying at York University for Computer Science; 1st year.
                </span>
                <p>
                    I have been doing web devlopment for about a year now.
                </p>
                <h3> Skills</h3>
                    HTML, CSS, Javascript, JQuery <br>
                    JAVA, PYTHON <br>
                    MYSQL, MongoDB <br>
                    Express <br>
                    Android <br>
                    Swift <br>
                <h5>Current Learning</h5>
                        REACT <br>
                        REACT NATIVE <br>
                        MERN STACK <br>
            </div>        
        </div>
    
    </div>
</div>