<div  class="row my-wrapper">
        <div class="col-6 col-md-4">
                <div class="container">
                    <div class="wrapper">
                        <div class="insideDiv" >
                            <a href="#">BandPage
                                <img class="git-logo" src="/images/peace.png" alt=""></a>
                            
                                <span class="mades" >
                                    <ul >
                                        <li>Band site</li>
                                        <li>JQuery</li>
                                        <li>Mongo</li>
                                        <li>Express</li>
                                        <li>Node.js</li>
                                        <li> <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    </ul>
                                </span>
                        </div>
                        <span class="under-cons"> UNDER CONSTRUCTION</span>
                    </div>
                </div>
            </div>
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                    <div class="insideDiv" >
                        <a href="#">Sehmemes
                        <img class="git-logo" src="/images/leaf.png" alt=""></a>
                    
                    
                        <span class="mades" >
                            <ul >
                                <li>Meme site</li>
                                <li>Mean stack</li>
                                <li>Bootstrap</li>
                                <li> <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                            </ul>
                        </span>
                    </div>
                    <span class="under-cons"> UNDER CONSTRUCTION</span>
                </div>
            </div>
        </div>
            
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                    <div class="insideDiv" >
                        <a href="#">Campus Zone
                        <img class="git-logo" src="/images/board.png" alt=""></a>
                            <span class="mades mades-campus" >
                                <ul >
                                    <li>Social Website</li>
                                    <li>Version 1:</li>
                                    <li>Bootstrap <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    <li>Php, MySql</li>
                                    
                                </ul>
                                <ul >
                                    <li>Version 2:</li>
                                    <li>Sass <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    <li>Express</li>
                                    <li>Ejs, MongoDB</li>
                                </ul>
                            </span>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                    <div class="insideDiv" >
                        <a href="http://dm.ampd.yorku.ca/web/sehmim/datt1939/a2/index.html">Simple Game
                        <img class="git-logo" src="/images/glad.png" alt=""></a>
                            <span class="mades" >
                                <ul >
                                    <li>TurnBase</li>
                                    <li> Game</li>
                                    <li> Vanila JS</li>
                                    <li> <a href="https://github.com/sehmim/My_game"><img class="git-link" src="/images/github.png" alt=""></a></li>
                                </ul>
                            </span>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                    <div class="insideDiv" >
                        <a href="https://github.com/sehmim/simple_metronome">A Metronome
                        <img class="git-logo" src="/images/metronome.png" alt=""></a>
                            <span class="mades" >
                                <ul >
                                    <li>JQuery</li>
                                    <li>Bootstrap</li>
                                    <li> <a href="https://github.com/sehmim/simple_metronome"><img class="git-link" src="/images/github.png" alt=""></a></li>
                                </ul>
                            </span>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                    <div class="insideDiv" >
                        <a href="#">Android Apps
                        <img class="git-logo" src="/images/android.png" alt=""></a>
                            <span class="mades mades-campus" >
                                <ul>
                                    <li>Various apps</li>
                                    <li>Android</li>
                                    <li>Java</li>
                                    <li>Simple Calc <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    <li>Bank <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    <li>Tax Calc <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                    <li>Tic Tac <a href=""><img class="git-link" src="/images/github.png" alt=""></a></li>
                                </ul>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>