<div style=" position: absolute; left: 45%; top: 45%;">
    <div class="container" >
        <div class="wrapper">
            
            <a class="roundThings" id="circleOne" href="#">
                <i id="projects" class="em em-hammer_and_wrench"></i>
            </a>
            <a class="roundThings" id="circleTwo" href="#">
                <i id="about" class="em em-adult"></i>
            </a>
            <a class="roundThings" id="circleThree" href="#">
                <i id="education" class="em em-school"></i>
            </a>
            <a class="roundThings" id="circleFour" href="#">
                <i id="social" class="em em-bookmark"></i>
            </a>
            <a class="roundThings" id="circleCenter" href="#" >
                <i id="playPause" class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>