
<div class="jumbotron jumbotron-fluid my-wrapper">
    <div class="container">
            <img class="img-yorku" src="/images/Logo_York_University.png" alt="">
            <img src="/images/Lassonde.png" alt="">
    </div>
</div>