
<div class="well jumbotron" id="displayProj">
    <h1 class="page-header text-center">PROJECTS</h1>
    <div  class="row my-wrapper">
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">My Band Page</a>
            </div>
            <div class="details">
                This is a band page created using the MEAN stack approch
            </div>
            <a href="#"><img class="git-logo" src="/images/github.png" alt=""></a>
            <div>
                <a class="glyphicon glyphicon-chevron-right" href=""></a>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">MY Sehmemes</a>
            </div>
            <div class="details">
                    A Meme website that keeps all the dead memes alive. Made with React
            </div>
            <a href=""><img class="git-logo" src="/images/github.png" alt=""></a>
            <div>
                <a class="glyphicon glyphicon-chevron-right" href=""></a>
            </div>
        </div>
            
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">Campus zone</a>
            </div>
            <div class="details">
                    A website for students to find out hangout places in campus.
            </div>
            <a href=""><img class="git-logo" src="/images/github.png" alt=""></a>
            <div>
                <span class="glyphicons glyphicons-circle-arrow-right"></span>            </div>
        </div>
    </div>
</div>


<!-- ABOUT ME -->
<div id="displayAbout" class="well jumbotron">
    <h1 class="page-header text-center">ABOUT</h1>
    <div class="container">
        <div class="my-wrapper">
            <span class="insideDiv"> ABOUT ME </span>
            <div class="details">
                I like cheese
            </div>
        </div>
    </div>
</div>

<div id="displayEducation" class="well jumbotron">
    <h1 class="page-header text-center">EDUCATION</h1>

</div>

<div id="displaySocial" class="well jumbotron">
    <h1 class="page-header text-center">SOCIAL</h1>
    <div class="container">
        <div class="wrapper">
            <div class="row my-wrapper">
                <div class="col-6 col-md-4">
                    <span>
                    <a href="https://github.com/sehmim">
                        <img class="logos" src="/images/github.png" alt="">
                    </a>
                    </span>
                </div>
                <div class="col-6 col-md-4">
                    <span>
                        <a href="https://twitter.com/sehmim">
                            <img class="logos" src="/images/twitter-logo.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="col-6 col-md-4">
                    <div>
                        <a href="https://www.linkedin.com/in/sehmim-haque-7a7a29160/">
                            <img class="logos"  src="/images/linkedin-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>