
<div class="well jumbotron" id="displayProj">
    <h1 class="page-header text-center">PROJECTS</h1>
    <div  class="row my-wrapper">
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">My Band Page</a>
            </div>
            <div class="details">
                This is a band page created using the MEAN stack approch
            </div>
            <a href="#"><img class="git-logo" src="/images/github.png" alt=""></a>
        </div>
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">MY Sehmemes</a>
            </div>
            <div class="details">
                    A Meme website that keeps all the dead memes alive. Made with React
            </div>
            <a href=""><img class="git-logo" src="/images/github.png" alt=""></a>
        </div>
            
        <div class="col-6 col-md-4">
            <div class="insideDiv" >
                <a href="#">Campus zone</a>
            </div>
            <div class="details">
                    A website for students to find out hangout places in campus.
            </div>
            <a href=""><img class="git-logo" src="/images/github.png" alt=""></a>
        </div>
    </div>
</div>


<div id="displayAbout" class="well jumbotron">
    <h1 class="page-header text-center">ABOUT</h1>
</div>

<div id="displayEducation" class="well jumbotron">
    <h1 class="page-header text-center">Education</h1>

</div>

<div id="displaySocial" class="well jumbotron">
    <h1 class="page-header text-center">Social</h1>

</div>