
<div class="well jumbotron" id="displayProj">
    <h1 class="well-sm text-center">PROJECTS</h1>
</div>


<div id="displayAbout" class="well jumbotron">
    <h1 class="well-sm text-center">ABOUT</h1>
</div>

<div id="displayEducation" class="well jumbotron">
    <h1 class="well-sm text-center">Education</h1>

</div>

<div id="displaySocial" class="well jumbotron">
    <h1 class="well-sm text-center">Social</h1>

</div>