
<!-- ALL OF MY PROJECTS -->
<div class="well jumbotron" id="displayProj">
    <h1 class="page-header text-center">PROJECTS</h1>
    <% include allProjects.ejs %>
</div>

<!-- ABOUT ME -->
<div id="displayAbout" class="well jumbotron">
    <h1 class="page-header text-center">ABOUT</h1>
    <% include aboutme.ejs %>
</div>
<!-- EDUCATION-->
<div id="displayEducation" class="well jumbotron">
    <h1 class="page-header text-center">EDUCATION</h1>
    <% include education.ejs %>
</div>
<!-- Social-->
<div id="displaySocial" class="well jumbotron">
    <h1 class="page-header text-center">SOCIAL</h1>
    <% include social.ejs %>
</div>