<div  class="row my-wrapper">
    <div class="col-6 col-md-4">
        <div class="container">
            <div class="wrapper">
                    <span>
                        <a href="https://github.com/sehmim">
                            <img class="logos" src="/images/github.png" alt="">
                        </a>
                    </span>
                </div>
            </div>        
    </div>
    <div class="col-6 col-md-4">
        <div class="container">
            <div class="wrapper">
                    <span>
                        <a href="https://twitter.com/sehmim">
                            <img class="logos" src="/images/twitter-logo.png" alt="">
                        </a>
                    </span>
                </div>
        </div>            
    </div>

        <div class="col-6 col-md-4">
            <div class="container">
                <div class="wrapper">
                        <span>
                            <a href="https://www.linkedin.com/in/sehmim-haque-7a7a29160/">
                                <img class="logos"  src="/images/linkedin-icon.png" alt="">
                            </a>
                        </span>
                </div>
            </div>            
        </div>
</div>